/*menu*/

* {
	box-sizing: border-box;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
body {
	margin: 0;
}

header > nav ul > li {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.row::before,
.row::after {
	content:"";
	display: table;
}
.row::after {
	clear: both;
}
 header > nav ul > li > a {
 	line-height: 65px;
 	padding: 0 20px;
 	display: block;
 	color: black;
 	text-decoration: none;
 	text-transform: uppercase;
 }
header > nav ul > li > a:hover {
 	color: yellow;
 }
/*Video*/
.hero > video {
	opacity: 0.5;
	width: 100%;
	}
/*Kim jesteœmy */


/*Efekt hovera na zdjêciu */


.content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
}